body {
    
    font: size 100px;
    color: white;
    background-color: black;
    
  }

  h1{
      margin-top: 0%;
      margin-left: 0rem;
      text-align: left;
    
      
  }

  h2{
    text-transform: uppercase;
  }

  .navbar{
      background-color: yellow;
  }


  span{
      border-color:;
      border: 15pt;
  }


  #menu {
    background-color: rgb(153, 151, 151);
    
    border: 3px solid black;
    float: left;
    margin: 1%auto;
    margin-bottom: 10px;
    padding: auto;
    overflow: hidden;
     

}

#box{
    text-align: center;
    font-size: 2em;
}
li{
    border: 3px solid black;
    text-align: center;
    background-color: violet;
    font-size: 15pt;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }


  section{
    clear: right;
    margin: 5px;
    font-size: 10pt;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
  }